In [335]:
import pandas as pd

In [336]:
# データの読み込み
df_signal = pd.read_csv('./data/myCEL_mas5data.txt', sep='\t')

In [337]:
df_signal.rename(columns={'Unnamed: 0': 'Probeset','GSM309986.CEL':'Signal'}, inplace=True)

In [338]:
df_signal.sort_values('GeneSymbole', inplace=False).head()

         Probeset GeneSymbole      Signal
30065   220781_at       1-Dec    4.673046
44634   235385_at       1-Mar  209.055207
38637   229383_at       1-Mar  511.000004
6539   1562338_at       1-Mar   35.501910
28858   219574_at       1-Mar  295.060007

In [339]:
df_signal.dropna(inplace=True)
len(df_signal["Probeset"].unique())

40676

In [340]:
df_signal

         Probeset GeneSymbole       Signal
0       1007_s_at        DDR1  1696.363406
1         1053_at        RFC2   536.172482
2          117_at       HSPA6   162.799855
3          121_at        PAX8   478.734061
4       1255_g_at      GUCA1A     4.995916
...           ...         ...          ...
54608    91703_at     EHBP1L1  1304.516252
54609  91816_f_at       MEX3D    32.339643
54610    91826_at      EPS8L1   568.559786
54611    91920_at        BCAN   178.850845
54612    91952_at      DCAF15   269.981544

[40676 rows x 3 columns]

In [341]:
# データの読み込み
df_extractID = pd.read_csv('./data/extract_list.txt', sep=',' ,header=None)

In [342]:
df_extractID.rename(columns={0: 'Probeset'}, inplace=True) 
df_extractID.sort_values('Probeset', inplace=True)

In [343]:
df_extractID.dropna(inplace=True)

In [344]:
df_extractID

    Probeset
235   ABCC12
229   ABCC13
228   ABCC13
149   ABHD11
252    ACACB
..       ...
126   ZNF485
214   ZNF570
273   ZNF626
170  ZSCAN20
171  ZSCAN20

[289 rows x 1 columns]

In [345]:
len(df_extractID["Probeset"].unique())

237

In [346]:
df_extSig=df_signal[df_signal["GeneSymbole"].isin(df_extractID["Probeset"])]

In [347]:
df_extSig

        Probeset GeneSymbole       Signal
0      1007_s_at        DDR1  1696.363406
1        1053_at        RFC2   536.172482
2         117_at       HSPA6   162.799855
3         121_at        PAX8   478.734061
4      1255_g_at      GUCA1A     4.995916
...          ...         ...          ...
54321   38766_at       SRCAP   316.825255
54359   40524_at      PTPN21   132.101650
54389   43427_at       ACACB  2634.467675
54453   49452_at       ACACB  5301.582628
54493   54037_at        HPS4   204.787405

[606 rows x 3 columns]

In [348]:
df_extSig.sort_values('GeneSymbole', inplace=True)
df_extSig.reset_index(inplace=True,drop=True)

C:\Users\okabe\miniconda3\envs\anaconda\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [349]:
df_extSig[:50]

        Probeset GeneSymbole       Signal
0   1552590_a_at      ABCC12    49.459241
1   1553410_a_at      ABCC12    73.425807
2   1552583_s_at      ABCC13    29.420507
3     1555265_at      ABCC13     8.229411
4     1552582_at      ABCC13    25.661992
5      233371_at      ABCC13    11.641080
6    221927_s_at      ABHD11   557.746865
7     1552800_at      ABHD11    20.076797
8   1552470_a_at      ABHD11   120.908262
9      221928_at       ACACB  2233.816814
10      49452_at       ACACB  5301.582628
11    1552615_at       ACACB   988.396274
12  1552616_a_at       ACACB   456.652456
13      43427_at       ACACB  2634.467675
14   214584_x_at       ACACB   513.655942
15     212477_at       ACAP2    40.616453
16     212476_at       ACAP2  1494.547123
17  1552472_a_at       ACAP2   121.013080
18    1552519_at      ACVR1C   888.603688
19    1563182_at      ACVR1C   347.574561
20  1552579_a_at      ADAM21    47.848085
21    1552266_at      ADAM32    10.615613
22     229585_at    ADAMTSL1   138.254024
23    1552808_at    ADAMTSL1    38.102131
24     239909_at    ADAMTSL1    19.464789
25  1552457_a_at    ADAMTSL1    10.580702
26     224371_at    ADAMTSL1    13.839641
27     237217_at    ADAMTSL1     4.149797
28  1559863_a_at      AFG3L1    10.024358
29     236250_at      AFG3L1   290.428185
30  1552287_s_at      AFG3L1   416.689568
31     239828_at        AKD1    17.486629
32    1552299_at        AKD1    25.113963
33  1564002_a_at        AKD1   167.718867
34    1552306_at       ALG10    71.687377
35    1552304_at       ALG10    39.464695
36    1552576_at      ALMS1P   109.852327
37  1552438_a_at       ANKAR    15.422300
38    1556653_at       ANKAR     7.670589
39  1552619_a_at        ANLN    11.163881
40   222608_s_at        ANLN    98.526903
41  1552627_a_at     ARHGAP5   236.455567
42   233849_s_at     ARHGAP5  1968.382186
43   233872_x_at     ARHGAP5     4.973444
44     217936_at     ARHGAP5  1257.444444
45     235635_at     ARHGAP5   488.201124
46  1552632_a_at        ARSG    79.108808
47    1552524_at        ART5    34.931197
48  1553989_a_at    ATP6V1C2    13.415687
49  1552532_a_at    ATP6V1C2    18.225215

In [350]:
len(df_extSig["GeneSymbole"].unique())

237

In [352]:
len(df_extractID["Probeset"].unique())

237